:root {
    --main-width: 70%;
    --countryListPadding: 20px;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    margin: 0;

    font-family: sans-serif;
}

#sidePanell {
    width: calc(100% - var(--main-width));

    margin-left: 20px;
    margin-right: 20px;
}
main {
    width: var(--main-width);
}


#countryList {
    display: flex;
    flex-direction: column;
    gap: 20px;

    list-style-type: none;
    padding: 0;
}

#countryList > li {
    width: 100%;
    background: linear-gradient(#e66465, #9198e5);
    padding: var(--countryListPadding);
    border-radius: 15px;

    margin-top: 0;
    margin-bottom: 0;


    box-sizing: border-box;
}

#map {
    height: 100vh;
    width: var(--main-width);

    position: sticky;
    top: 0;
}

#detailPage {
    display: none;
    margin-top: 20px;
}

table > * > tr > * {
    border: 2px black solid;
    box-sizing: border-box;
    margin: 0;
}

table {
    border: none;
    border-collapse: collapse;
}